<app-header [titulo]="titulo"></app-header>
<ion-content class="ion-text-center ion-padding">
  <h1>Alerta</h1>
  <!-- <ion-button expand='block' (click)="presentAlert()">Informar</ion-button>
  <ion-button expand='block' (click)="presentAlertCheckbox()">Listado para seleccionar</ion-button> -->
  <ion-button expand='block' (click)="presentAlertConfirm()">Nueva tarea</ion-button>
  <!-- <ion-button expand='block' (click)="presentAlertMultipleButtons()">Múltiples botones</ion-button>
  <ion-button expand='block' (click)="presentAlertPrompt()">Digita aquí</ion-button>
  <ion-button expand='block' (click)="presentAlertRadio()">Seleccione uno</ion-button> -->
</ion-content>