<app-header [titulo]="'Botones'"></app-header>
<ion-content class="ion-text-center ion-padding">
  <ion-button expand='block' size="small">Small</ion-button>
  <ion-button expand='block' color='tertiary' size="large">Large</ion-button>
  <ion-button expand="block" fill="outline">Outline</ion-button>
  <ion-button class="font-weight-bold" expand='block' shape="round" color='tertiary' fill="outline">Píldora</ion-button>
  <ion-button expand='block'>
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  <ion-button expand='block'>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-content>