<app-header [titulo]="'To-Do'"></app-header>
<ion-content class="ion-padding">
  <h2>Mis tareas diarias...</h2>
  <ion-list>
    <ion-item *ngFor="let t of tareas">
      <ion-label>{{t.val}} <br>
        <ion-icon name="time-outline"></ion-icon> <small> {{t.fecha | date: 'MMM dd | hh:mm'}}</small>
      </ion-label>
      <ion-checkbox color="{{t.color}}" slot="end" [(ngModel)]="t.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="input()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>